main {
    width: 90%;
    margin: 0 auto;
}

h1 {
  
    font-size: 2.5em;
}

.icon-menu {
    font-size: 2em;
}

.main-header {
    background-color: bisque;
    width: 100%;
    padding: 5px;
    /* box-shadow: 10px 10px 10px #4445; */
    /* border-radius: 15px; */
}

.pull-right {
    float: right;
    margin: 5px auto;
    clear: both;
}

.pull-left {
    float: left;
    margin: 5px;
}

footer {
    display: block;
    text-align: center;
    margin: 0px auto;
}