#navbar li a {
    transition-duration: 500ms;
    text-decoration: none;
}

#navbar li a:hover {
    color: red;
}

.pull-right {
    float: right;
    margin: 5px auto;
    clear: both;
}

.pull-left {
    float: left;
    margin: 5px;
}