.icon-menu{
    display:none;
}





@media only screen and (max-width:640px){
    .icon-menu{
        display:block;
    }
    .icon-menu ul li {
        display:none;
    }
    /* .icon-menu:hover{
        display: block;
    } */
}



/* @media only screen and(min-width:768px){

} */